<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/sg_nav %>
<div class="wrap">
  <h1 class="text-center title">Atoms</h1>
</div>


<% include ../partials/01-atoms/text %>
<br>
<% include ../partials/00-base/text-2-col %>
<br>
<% include ../partials/00-base/text-3-col %>

<% include ../partials/footer %>
