<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/sg_nav %>
<div class="wrap">
  <h1 class="text-center title">Atoms</h1>
</div>

<% include ../partials/01-atoms/colors %>

<% include ../partials/01-atoms/text %>
<br>
<% include ../partials/01-atoms/background %>

<% include ../partials/footer %>
