<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/sg_nav %>
<div class="wrap">
  <h1 class="text-center title">Molecule</h1>


<% include ../partials/02-molecules/hero-text %>
<hr>
<% include ../partials/02-molecules/accordion %>
</div>
<% include ../partials/footer %>
