<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/sg_nav %>


<div class="wrap">
  <h1 class="text-center title">Organisms</h1>
</div>


<% include ../partials/03-organisms/home/home-hero %>

<br>

<% include ../partials/03-organisms/applets/photo_g %>

<% include ../partials/footer %>
