<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/sg_nav %>


<div class="wrap">
  <h1 class="text-center title">Templates</h1>
</div>




<% include ../partials/footer %>
