
<footer class="grid-foot">
    <div class="footer1">
      <h4>Footer</h4>
    </div>
    <div class="footer1">
      <ul>
        <li> <a href="#">1</a> </li>
        <li> <a href="#">2</a> </li>
        <li> <a href="#">3</a> </li>
      </ul>
    </div>
    <div class="footer1">
      <ul>
        <li> <a href="#">1</a> </li>
        <li> <a href="#">2</a> </li>
        <li> <a href="#">3</a> </li>
      </ul>
    </div>
  </footer>

<!-- 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="\js\main.js"></script> -->
</body>
</html>
