<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Trailers</a></li>
            <li class="navigation__item"><a href="/photos" class="navigation__link">Photo Gallery</a></li>
            <li class="navigation__item"><a href="/cast-crew" class="navigation__link">Cast and Crew</a></li>
            <li class="navigation__item"><a href="/about" class="navigation__link">About</a></li>
            </ul>
    </nav>
</div>



<!-- <nav class="navbar">
  <div class="brand">
    <a class="nav-a" href="#"> <span class="logo"> KOKO</span></a>
  </div>
  <div class="top-bar-right">
    <ul class="topnav " id="navbar-toggle">
      <li><a class="" href="/">Home1</a></li>
      <li ><a class="" href="atoms">Atoms1</a></li>
      <li ><a class="" href="molecules">Molecules1</a></li>
      <li ><a class="" href="organisms">Organisms1</a></li>
      <li ><a class='' href="templates">Templates1</a></li>

      <li class="nav-li"><a class="nav-a" href="/">Home</a></li>
      <li class="nav-li"><a class="#" href="The Movie">Trailers</a></li>
      <li class="nav-li"><a class="#" href="">Making of</a></li>
      <li class="nav-li"><a class="#" href="#">Cast and Crow</a></li>
      <li class="nav-li"><a class="#" href="#">About</a></li>
      <li class=""><a href="#"></a>&#9776;</li>
      <li class="dropdownLink"><a onclick="toggleDropdown()" href="#"></a>&#9776;</li>
    </ul>
  </div>
  </nav> -->
