<nav class="navbar">
  <div class="brand">
    <a class="nav-a" href="#"> <span class="logo"> KOKO</span></a>
  </div>
  <div class="top-bar-right">
    <ul class="topnav " id="navbar-toggle">
      <!-- <li><a class="" href="/">Home1</a></li>
      <li ><a class="" href="atoms">Atoms1</a></li>
      <li ><a class="" href="molecules">Molecules1</a></li>
      <li ><a class="" href="organisms">Organisms1</a></li>
      <li ><a class='' href="templates">Templates1</a></li> -->

      <li class="nav-li"><a class="nav-a" href="/">Home</a></li>
      <li class="nav-li"><a class="nav-a" href="atoms">Atoms</a></li>
      <li class="nav-li"><a class="nav-a" href="molecules">Molecules</a></li>
      <li class="nav-li"><a class="nav-a" href="organisms">Organisms</a></li>
      <li class="nav-li"><a class="nav-a" href="templates">Templates</a></li>
      <!-- <li class=""><a href="#"></a>&#9776;</li> -->
      <li class="dropdownLink"><a onclick="toggleDropdown()" href="#"></a>&#9776;</li>
    </ul>
  </div>
  </nav>
