<div class="brand-thrird-l top-logo">
  <h1 class="hero-text ">
    <span class="logo">KOKO</span>
    <span class="hero-text__sub">How Far You Can Go To Pay Tribute To Your Love?</span>
  </h1>
</div>
