

  <div class="grid-4 wrap">
    <% actors.forEach(function(actor) { %>
        <div class=" color-box">
          <img class="img-contain__staring-cast" src="../img/headshots/<%=  actor.pic %>" alt="Photo of <%=  actor.name %>">
          <div class=""> <br>
            <p class="actor"><%=  actor.name %></p>
            <p class="playing">as <%=  actor.playing %></p>
            <a href="/cast/<%= actor.name %>">more info</a>
          </div>
        </div>
    <%  })   %>
  </div>
