

<div class="grid-4 wrap">
  <% actors.forEach(function(actor) { %>
    <% if(actor.type === "extras") { %>
      <div class=" color-box">
        <div class="">
          <p class="actor"><%=  actor.name %></p>
          <a href="/cast/<%= actor.name %>">more info</a>
        </div>
      </div>
    <%  } %>
  <%  })   %>
</div>
