

  <div class="grid-3 wrap">
    <% persons.forEach(function(person) { %>
      <% if(person.type === "star") { %>
        <div class=" color-box">
          <img class="img-contain__staring" src="../img/<%=  person.pic %>" alt="Photo of <%=  person.name %>">
          <div class="">
            <p class="person"><%= person.name %></p>
            <p class="playing">as <%=  person.playing %></p>
            <a href="/credits/<%= person.name %>">more info</a>
          </div>
        </div>
      <%  } %>
    <%  })   %>
  </div>
