    <div class="grid-4 wrap">
      <% actors.forEach(function(actor) { %>
        <% if(actor.type === "supporting") { %>
          <div class=" color-box">
            <img class="img-contain__staring" src="../img/<%=  actor.pic %>" alt="">
            <div class="">
              <p class="actor"><%=  actor.name %></p>
              <p class="playing">as <%=  actor.playing %></p>
              <a href="/cast/<%= actor.name %>">more info</a>
            </div>
          </div>
        <%  } %>
      <%  }) %>
    </div>
