@media (max-width: 768px) {
  ul.topnav li a.nav-a {
    display: none
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  ul.topnav.responsive li a.nav-a {
    display: block;
  }
}
