
<div class="container-flex">

  <div class="container-flex__1-2">
    <!-- <h1 class="text-2-col">Header1</h1>
    <h2 class="text-2-col">Header2</h2> -->
    <h3 class="text-2-col">Header3</h3>
    <h4 class="text-2-col">Header4</h4>
    <h5 class="text-2-col">Header5</h5>
    <h6 class="text-2-col">Header6</h6>
    <p class="text-2-col">Sink me sloop snow measured fer yer chains red ensign barque run a shot across the bow hardtack crow's nest lanyard. Cable Sink me code of conduct yawl square-rigged Cat o'nine tails tender belay Arr clipper. Sutler lateen sail trysail jib case shot Sea Legs hands starboard yard tack.</p>
  </div>
  <div class="container-flex__1-2">
    <p class="paragraph">This is an extraordinary love story with a triumphant and spectacularly happy ending. It is about a young accounting graduate RANDY, living through life issues from heart- break to job loss...</p>
    <p class="paragraph"> ... Randy later adopts a dog named KOKO and with the gentle companionship of a trusted friend Randy heals from life’s wounds. Randy had bonded immediately with Koko the first time they were introduced. Like all pure and natural love does, concern and empathy with Koko blossoms.</p>
    <p class="paragraph">It's innocent and pure in nature, with no malice or designs on self gain or otherwise. His relationship with KoKo is purely one of the emotion called LOVE. The concern is demonstrably reciprocated. Randy feels a connection so strong with Koko that the only way he can express his commitment to take care of and protect her is through marriage...</p>
    <p class="paragraph">As time progresses Randy files a case in court to get a license to be legally married with Koko and so this novel tale begins.</p>

  </div>

</div>
<!-- <p class="paragraph">A love that should have never been. </p>
<p class="paragraph"> So true and pure that no one can take it away.</p>
<p class="paragraph">They will stop at nothing to show their commitment to love. </p> -->
