

.navbar
  display: flex
  padding: 10px
  max-width: 1140px
  width: 100%
  margin: 0 auto
  justify-content: space-between

.topnav
  display: flex
  margin: 0
  padding: 0
  list-style: none
//
.topnav .nav-a
  text-decoration: none
  padding-left: 20px
ul.topnav li
  text-decoration: none
  padding-left: 20px



//
.nav-a
  text-decoration: none
  color: $base-dark
  &:hover
    color: $brand-secondary
    text-shadow: .05em .05em .06em $base-dark

.dropdownLink
  display: none
