<section class="wrap">
    <h2 class="">Colors</h2>

      <div class="grid-3">
        <div class="brand-primary-l color-box">
          brand-primary-l
        </div>
        <div class="brand-secondary-l color-box">
          brand-secondary-l
        </div>
        <div class="brand-thrird-l color-box">
          brand-thrird-l
        </div>
        <div class="brand-fourth-l color-box">
          brand-fourth-l
        </div>
        <div class="brand-primary-d color-box">
          brand-primary-d
        </div>
        <div class="brand-secondary-d color-box">
          brand-secondary-d
        </div>
        <div class="brand-thrird-d color-box">
          brand-thrird-d
        </div>
        <div class="brand-fourth-d color-box">
          brand-fourth-d
        </div>
      <div class="base-light color-box">
        base-light
      </div>
      <div class="base-dark color-box">
        base-dark
      </div>
      <div class="white color-box">
        white
      </div>
      <div class="black color-box">
        black
      </div>
      </div>
</section>
<br> <hr> <br>
