<article class="section__about center-text">
  <h2 class="section-headers"><span class="brand">KOKO</span> The Movie</h2>
  <div class="flex__container-home-about">
    <div class="flex__box-home-about">
      <p class="big">An extraordinary story of a young financial wiz, Randy, who suffers a lifetime of heart-aches and heartbreaks, only to discover the purest form of love in his one true companion, a golden retriever name Koko.</p>

    </div>
    <div class="flex__box-home-about">
      <img class="img-contain__about" src="../img/Group.jpg" alt="">
    </div>
  </div>
</article>
