<div class="background-hero">
  <div class="text-box-center">
    <h1 class="hero-text ">
      <span class="hero-text__main logo">KOKO</span>
      <span class="hero-text__sub">How Far You Can Go To Pay Tribute To Your Love?</span>
    </h1>
  </div>
</div>
