<article class="section__koko center-text">
  <h2 class="section-headers">Starring</h2> <br> <br>
  <div class="grid-3 wrap">
    <% actors.forEach(function(actor) { %>
      <% if(actor.type === "star") { %>
        <div class=" color-box">
          <img class="img-contain__staring-home" src="../img/headshots/<%=  actor.pic %>" alt="Photo of <%=  actor.name %>">
          <div class=""> <br>
            <p class="actor"><%=  actor.name %></p>
            <p class="playing">as <%=  actor.playing %></p>
            <a href="/cast/<%= actor.name %>">more info</a>
          </div>
        </div>
      <%  } %>
    <%  })   %>
  </div>
</article>
