<section class="section__koko">
  <div class="background-koko">
    <div class="center-text__koko">
      <h2 class="">Meet <span class="brand">KOKO</span></h2>
      <p class="big">write something about Koko here !!!!</p>
    </div>

  </div>
</section>
