<div class="">
  <form class="" action="/person/addperson" method="post">
    <input type="text" name="person[name]" placeholder="name">
    <input type="text" name="person[castType]" placeholder="castType">
    <input type="text" name="person[playing]" placeholder="playing">
    <input type="text" name="person[picLocate]" placeholder="picLocate">
    <button>add person<button>

  </form>
</div>
