<div class="center-text">
<br> <br>
    <h1 class="section-headers">Person Gallery</h1>
</div>

<br>
 <!-- brand-secondary-l -->


  <div class="grid-4 wrap">
    <% persons.forEach(function(person) { %>
        <div class=" color-box">
          <img class="img-contain__staring-cast" src="../img/headshots/<%= person.picLocate %>" alt="<%=  person.name %>">
          <div class=""> <br>
            <p class="actor"><%=  person.name %></p>
            <p class="playing">as <%=  person.playing %></p>
            <a href="/credits/<%= person.id %>">more info</a>
          </div>
        </div>
    <%  })   %>
  </div>
