<% include ../partials/header %>
<% include ../partials/main_nav %>
<% include ../partials/top-loge %>

<div class="wrap">
  <h1>cast and crew</h1>
   <ul>
     <li>
       <input type="checkbox" name="" value="" checked>
       <i></i>
       <h2 class="section-headers">Starring</h2>
       <div class="">
          <% include ../partials/03-organisms/cast-crew/starring %>
       </div>
     </li>
     <li>
       <input type="checkbox" name="" value="" checked>
       <i></i>
       <h2 class="section-headers">Supporting Cast</h2>
       <div class="">
          <% include ../partials/03-organisms/cast-crew/supporting %>
       </div>
     </li>
     <li>
       <input type="checkbox" name="" value="" checked>
       <i></i>
       <h2 class="section-headers">Extras</h2>
       <div class="">
         <% include ../partials/03-organisms/cast-crew/extras %>
       </div>
     </li>
     <li>
       <input type="checkbox" name="" value="" checked>
       <i></i>
       <h2 class="section-headers">Crew</h2>
       <div class="">
         <% include ../partials/03-organisms/cast-crew/crew %>
       </div>
     </li>
     <li>
       <input type="checkbox" name="" value="" checked>
       <i></i>
       <h2 class="section-headers">Producer</h2>
       <div class="">
         <% include ../partials/03-organisms/cast-crew/producer %>
       </div>
     </li>
   </ul>
</div>

<br><hr><hr><br>

<% include ../partials/footer %>
