<% include ../partials/header %>
<% include ../partials/03-organisms/home/home-hero %>
<% include ../partials/main_nav %>
<% include ../partials/03-organisms/home/home-about %>
<% include ../partials/03-organisms/home/home-koko %>
<% include ../partials/03-organisms/home/home-staring %>

<% include ../partials/footer %>
