<% include ../partials/header %>
<% include ../partials/top-loge %>
<% include ../partials/main_nav %>

<% include ../partials/03-organisms/person/add_person %>
<% include ../partials/footer %>
