<% include ../partials/header %>
<% include ../partials/top-loge %>
<% include ../partials/main_nav %>


<a href="/credits/new">add Person</a>
<% include ../partials/03-organisms/person/person_g %>
<% include ../partials/footer %>
