<% include ../partials/header %>
<% include ../partials/top-loge %>
<% include ../partials/main_nav %>


<a href="/photos/new">add Photo</a>
<% include ../partials/03-organisms/photo/photo %>
<% include ../partials/footer %>
