<% include ../partials/header %>
<% include ../partials/top-loge %>
<% include ../partials/main_nav %>




 <h1 class="section__about center-text"> name</h1> 



<% include ../partials/footer %>
