.flex {
   &__container {
    display: flex;
    margin: 20px auto;
    max-width: 1140px;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    &-home-about {
        @extend .flex__container;
        flex-direction: column-reverse;
        @include respond(break-s) {
        }
        @include respond(break-m) {
          flex-direction: row;
        }
        @include respond(break-l) {
        }
    }
    &-person {
        @extend .flex__container;
        flex-direction: column;
        @include respond(break-s) {
        }
        @include respond(break-m) {

        }
        @include respond((break-l) ) {
            flex-direction: row;
        }
    }
  }
  &__box {
    flex: 1;
    // display: flex;
    margin: 10px;
    padding: 20px;
    text-align: center;
    // background-color: red;
    &-home-about {
        @extend .flex__container;
        @include respond(break-xs) {

        }
        @include respond(break-s) {

        }
        @include respond(break-m) {

        }
    }
    &-person {
        @extend .flex__container;
        @include respond(break-xs) {

        }
        @include respond(break-s) {

        }
        @include respond(break-m) {

        }
    }
  }
}
