<div class="wrap">
<h1>photo add</h1>
<form action="/photos/addphoto" method="post">
    <input type="text" name="alt" placeholder="alt">
    <input type="text" name="pic" placeholder="locaton">
    <input type="text" name="gridtype" placeholder="gridtype">
    <button>add photo<button>  
</form>
</div>
