<div class="center-text">
<br> <br>
    <h1 class="section-headers">Photo Gallery</h1>
</div>

<br>
 <!-- brand-secondary-l -->
<section class="gallery ">

    <% photos.forEach(function(photo) { %>
        <figure class="color-box  gallery__item--<%= photo.gridType %>">
          <a href="/photos/<%= photo._id %>">
            <img class="img-contain__staring gallery__img" src="../img/<%=  photo.pic %>" alt="photos of <%=  photo.alt %> ">
          </a>
        </figure>
    <%  })   %>



</section>
