.gallery {
    // grid-column:  full-start / full-end;
    // grid-auto-flow: dense;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows:  repeat(auto-fit, 10vw);
    // grid-gap: 1.5rem;
    padding: 1.5rem;

    @include respond(break-s) {
      // background-color: blue;
      grid-column:  full-start / full-end;
      grid-auto-flow: dense;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows:  repeat(15, 10vw);
      &__item {

          &--1 {
              grid-column-end: span 1;
              grid-row-end: span 1;
          }
          &--2 {
              grid-column-end: span 2;
              grid-row-end: span 3;
          }
          &--3 {
              grid-column-end: span 2;
              grid-row-end: span 2;
          }
          &--4 {
              grid-column-end: span 1;
              grid-row-end: span 1;
          }
      }
    }
    @include respond(break-m) {
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows:  repeat(auto-fill, 10vw);
        &__item {
            &--1 {
                grid-column-end: span 2;
                grid-row-end: span 2;
            }
            &--2 {
                grid-column-end: span 2;
                grid-row-end: span 3;
            }
            &--3 {
                grid-column-end: span 2;
                grid-row-end: span 1;
            }
            &--4 {
                grid-column-end: span 1;
                grid-row-end: span 1;
            }
        }
    }
    @include respond(break-l) {
      // background-color: yellow;
      grid-template-columns: repeat(8, 1fr);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

}
