.hero-text {
  text-align: center;
  &__main {
    display: block;
    font-size: 1.5em;
  }
  &__sub {
    display: block;
    font-size: .5em;
  }
}

.text-box-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
